:root {
  --max-width: 1450px;
  --width-container: 95%;
  --border-radius: 16px;

  --bg-color-white-1: #f0f0f0;
  --bg-color-white-2: #b1b1b1;

  --bg-color-dark-1: #2a2a2d;
  --bg-collor-dark-2: #0a0a0a;

  --text-color-dark: #212121;
  --text-color-light: #ffffff;

  --glassmorphism-bg-color-light: rgba(255, 255, 255, 0.24);
  --glassmorphism-border-color-light: rgba(255, 255, 255, 0.47);

  --glassmorphism-bg-color-dark: rgba(92, 93, 101, 0.56);
  --glassmorphism-border-color-dark: rgba(255, 254, 254, 0.29);
}

.light-theme {
  --bg-color-first: var(--bg-color-white-1);
  --bg-color-second: var(--bg-color-white-2);
  --text-color: var(--text-color-dark);
  --text-shadow: var(--text-color-light);
  --glassmorphism-bg-color: var(--glassmorphism-bg-color-light);
  --glassmorphism-border-color: var(--glassmorphism-border-color-light);
}

.dark-theme {
  --bg-color-first: var(--bg-color-dark-1);
  --bg-color-second: var(--bg-collor-dark-2);
  --text-color: var(--text-color-light);
  --text-shadow: var(--text-color-dark);
  --glassmorphism-bg-color: var(--glassmorphism-bg-color-dark);
  --glassmorphism-border-color: var(--glassmorphism-border-color-dark);
}
html {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  /* height: 100rem; */
  overflow-x: hidden;
}

.wrapper {
  background-image: linear-gradient(to bottom right, var(--bg-color-first), var(--bg-color-second));
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-attachment: fixed;
  height: 100%;
  color: var(--text-color);
  animation: shimmer 5s ease infinite;
  padding: 1em 0;

  -webkit-animation: shimmer 5s ease infinite;
  -moz-animation: shimmer 5s ease infinite;
  text-shadow: var(--text-shadow) 0.5px 0px 0px;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes shimmer {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.glassmorphism-block {
  background: var(--glassmorphism-bg-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.9px);
  -webkit-backdrop-filter: blur(12.9px);
  border: 1px solid var(--glassmorphism-border-color);
}

.container {
  max-width: var(--max-width);
  width: var(--width-container);
  margin: 0 auto;
  padding: 0 2.5rem;
}

img {
  user-select: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.125rem;
}

.ml-60 {
  margin-left: 3.75rem;
}

@media (max-width: 1281px) {
  .ml-60 {
    margin-left: 0;
  }
}

@media (max-width: 961px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}


/* 
@media (max-width: 1281px) {}

@media (max-width: 961px) {}

@media (max-width: 768px) {}

@media (max-width: 381px) {} 
*/