.partners {
  padding: 2.5em;
  overflow: hidden;
}

.partners h2 {
  text-align: center;
}

.partners-wrapper img {
  width: 195px;
  height: 70px;
}

.partners-wrapper {
  display: flex;
  margin: 50px 0;
  gap: 30px;
  width: calc((255px * 8) * 2);
  animation: 20s partners-animation linear infinite;
}

.partners-wrapper:hover {
  animation-play-state: paused;
}

@keyframes partners-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-44.1%);
  }
}
